
  <div>  
  <!-- <div id="mySidenav" class="sidenav" [ngClass]="{'show':navbarOpen}">
    <a href="javascript:void(0)" style="color: #ffff !important;" (click)="toggleNavbar()">IMPEKABLE</a>
    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
    <a href="#"><i class="fa fa-bandcamp" aria-hidden="true"></i>Dashboard</a>
    <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> Inbox</a>
    <a href="#"><i class="fa fa-product-hunt" aria-hidden="true"></i>Products</a>
  </div>
  
  
  <span class ="toggle" (click)="toggleNavbar()">&#9776; </span>
   -->
 
    <app-navbar  ></app-navbar>
    <app-dashboard></app-dashboard>   
</div>
<router-outlet></router-outlet>


